<div class="beta-invite-page">
  <div class="invite-box">
    <div class="center">
      <h1><%= t('beta_invite.title' , :app_name => BetaInviteConfig.app_name)%></h1>
    </div>
    <div class="email-box">
      <h3><%= t('beta_invite.tag_line')%></h3>
      <div class="invitation">
        <%= form_tag('create_beta_invite', :remote => true) do |f| %>
            <div class="clearfix">
              <input type="text" size="30" name="beta_invite[recipient_email]" placeholder="Enter your email here"  id="beta_invite_recipient_email">
              <button class="sign-up-button invite-btn" type="submit"><%= t('beta_invite.button_tag')%></button>
            </div>
          <% end %>
        </div>
        <div class="footer dimmed">
          <a href=<%= BetaInviteConfig.company_address%>><%= t('beta_invite.company')%></a>
        </div>
    </div>
    <div id="info" class="hide"></div>
  </div>
</div>  